<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>Маршрут:</strong>
  <% if @train.route.present?  %>
    <%= @train.route.name %>
  <% else %>
    Маршрут не назначен.
  <% end %>
</p>
<p>
  <strong>Назначенные вагоны:</strong>
  <% if @train.carriage.present?  %>
    <table>
      <thead>
        <tr>
          <th>Номер вагона</th>
        </tr>
      </thead>
      <tbody>
       <% @train.numeration_order.each do |carriage| %>
          <tr>
            <td><%= link_to carriage.number, carriage_path(carriage) %></td>
          </tr>
    <% end %>
      </tbody>
      </table>
      <br>
     <table>
      <thead>
        <tr>
          <th>Тип вагона</th>
          <th>Количество</th>
        </tr>
      </thead>
      <tbody>
        <% @train.carriages_count_by_type.each do |type,value| %>
          <tr>
            <td><%= Carriage::TYPES[(type).to_sym] %></td>
            <td><%= value %></td>
          </tr>
    <% end %>
      </tbody>
      
    </table>
    <br>
   <table>
      <thead>
        <tr>
          <th>Тип вагона</th>
          <th>Верхних мест</th>
          <th>Нижних мест</th>
        </tr>
      </thead>
      <tbody>
          <% Carriage::TYPES.each do |type, value| %>
          <rt>
            <td><%= value %></td>
            <td><%= @train.seats_count_by_type(type, 'top_seats')%></td>
            <td><%= @train.seats_count_by_type(type, 'bottom_seats')%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    Вагоны не назначен.
  <% end %>
</p>


<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>




 <% @train.carriage.each do |carriage| %>
          <tr>
            <td><%= carriage.number %></td>
          </tr>
    <% end %>