<p id="notice"><%= notice %></p>

<p>
  <strong>Тип поезда:</strong>
  <%= Carriage::VARIANT[(@carriage.variant).to_sym]%>
</p>
<p>
  <strong>Количество верхних мест</strong>
  <%= @carriage.top_seats %>
</p>
<p>
  <strong>Количество нижних мест</strong>
  <%= @carriage.bottom_seats %>
</p>
<p>
  <strong>Назначенный вагон:</strong>
  <% if @carriage.train.present?  %>
    <%= @carriage.train.number %>
  <% else %>
    Вагон не назначен.
  <% end %>
</p>



<%= link_to 'Edit', edit_carriage_path(@carriage) %> |
<%= link_to 'Back', carriages_path %>
