<p>Поиск билета:</p>

<%= form_tag search_path do %>
  <div>
    <div>
      <%= label_tag :departure_station, 'Станция отправления' %>
      <%= select_tag :departure_station, options_from_collection_for_select(RailwayStation.all, :id, :title)%>
    </div>
    <div>
      <%= label_tag :arrival_station, 'Станция прибытия' %>
      <%= select_tag :arrival_station, options_from_collection_for_select(RailwayStation.all, :id, :title)%>
    </div>
  </div>
    <br/>
  <div>
    <%= submit_tag 'Найти'%>
  </div>
<% end %>

<% if @trains.present? %>
    <br/>
    <p>Результаты поиска:</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Номер</th>
          <th scope="col">Маршрут</th>
          <th scope="col">Станция отправления</th>
          <th scope="col">Время отправления</th>
          <th scope="col">Станция прибытия</th>
          <th scope="col">Время прибытия</th>
          <th scope="col">Покупка билета</th>
        </tr>
      </thead>
      <tbody>
         <% @trains.each do |train| %>
        <tr>
        <td><%= train.number %></td>
        <td><%= train.route.name %></td>
        <td><%= @departure_station.title %></td>
        <td><%= @departure_station.date_attr(train.route, :departure_time) %></td>
        <td><%= @arrival_station.title %></td>
        <td><%= @arrival_station.date_attr(train.route, :arrival_time) %></td>
        <td><%= button_to "Купить", new_ticket_path(
                  train_id: train.id,
                  departure_station_id: @departure_station,
                  destination_station_id: @arrival_station),
                  :method => :get %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
<% end %>