<%= form_for(@wagon) do |f| %>
  <%= render 'common/errors', resource: @wagon %>

  <div>
    <%= f.label :variant, 'Выберете тип вагона:' %>
    <%= f.select :variant, Wagon::VARIANT.map {|p| [ p[1], p[0] ] }, {} %>
  </div>
  <div>
    <%= f.label :train, 'Выберете поезд:' %>
    <%= f.collection_select :train_id, Train.all, :id, :number, {} %>
  </div>
  <br>
  <div class="field">
    <%= f.label :top_seats, 'Выберете количество верхних мест:' %><br>
    <%= f.text_field :top_seats %>
  </div>
    <div class="field">
    <%= f.label :bottom_seats, 'Выберете количество нижних мест:' %><br>
    <%= f.text_field :bottom_seats %>
  </div>
  <div class="actions">
    <%= f.submit "#{ wagon.new_record? ? 'Создать' : 'Изменить' }"%>
  </div>
<% end %>

