<tr>
  <td><%= Wagon::VARIANT[(wagon.variant).to_sym]  %></td>
  <td><%= wagon.top_seats %></td>
  <td><%= wagon.bottom_seats %></td>
  <td><%= link_to 'Show', wagon %></td>
  <td><%= link_to 'Edit', edit_wagon_path(wagon) %></td>
  <td><%= link_to 'Destroy', wagon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>